# Ignore the backup files created by solidworks
*~*

# Apple craps
.DS_Store

# Eagle craps
*.b#*
*.s#*
*.d#*
*.exe
*.zip
*.l#*
*.scr
*.gpi
*.dri
*.lck

# Altium craps
History
*.PrjPCBStructure
Project Outputs for *
Project Logs for *
ProjectOutputs/
__Previews
*.$$$
